//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #fb4226;
$darkSecondary: #ce3821;
$paper: #ffffff;
$light: #fbfbf7;
$darkGrey: #222;
$grey: #989586;
$lightGrey: #dcdacb;
$lightYellow:#ffe799;
$darkYellow:#c3c0a6;
$lightRed:#ec5353;
$red:#e22a43;
$lightGreen:#7ed321;
$green:#00ac4d;
$darkGreen:#094c59;
$blue:#0c1b36;
$darkBlue:#0a2029;
$dark:#000000;
$fbColor:#3a5fb3;
$darkFbColor:#3e599a;
$lightFbColor:#5878c0;
$zaloColor:#0ea4dc;
$darkZaloColor:#1192c3;
$lightZaloColor:#60c6ec;
//-----COLORS TEXT------
$textPrimary: #000000;
$textSecondary: #fb4226;
$textWhite: #ffffff;
$textDarkGrey: #3c3b37;
$textLightGrey: #949494;
$textDarkOrange:#be5a0e;
$textLightOrange:#eb8a2f;
$textBrown: #593d00;
$textGreen:#00a50e;
$textLightGreen:#7ed321;
$textDarkGreen:#094c59;
//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$body3:13px;
$subtitle: 14px;
$h7: 15px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3-5:25px;
$h3: 30px;
$h2-5: 34px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//----------SPACING---------
$spacing: 10px;